*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 15px;
    font-family: "Nanum Gothic", sans-serif;
    color: #0A0A0A;
}


h1{
    font-size: 25px; 
    font-family: "Modak", system-ui;
    font-weight: bold;
    color: #0A0A0A;
}

.gothic{
    font-family: "Poppins", sans-serif;
}

.modak{
    font-family: "Modak", system-ui;
}

.blue{
    color: #71D4E6;
}

.c1{
    background-color: #F8FDFE;
}

.c2{
    background-color: #E3F6FA;
}

.c3{
    background-color: #C6EEF5;
}

.c4{
    background-color: #AAE5F0;
}

.c5{
    background-color: #8DDDEB;
}

.c6{
    background-color: #71D4E6;
}

.c7{
    background-color: #5AAAB8;
}

.c8{
    background-color: #447F8A;
}

.c9{
    background-color: #2D555C;
}

.c10{
    background-color: #172A2E;
}

.c11{
    background-color: #060B0C;
}